Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

.idea
Content/ModSci_Engineer
Content/AnimStarterPack
ModSci_EngiProps
ModSciInteriors
ParagonLtBelica
ShooterVideoLearn.uproject.DotSettings.user
/Plugins/Developer/RiderLink
/Content/FPS_Weapon_Bundle
/Content/A_Surface_Footstep
/Content/KiteDemo
/Content/ParagonProps
/Content/Lighting
/Content/SampleMap
/Content/ParagonTwinblast
/Content/Materials
/Content/Meshes
/Content/Textures
/Content/Blueprints
/Content/Fx
/Content/Audio
/Content/ParagonGrux
/Content/ParagonKhaimera
