Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

.idea
Content/ModSci_Engineer
Content/AnimStarterPack
ModSci_EngiProps
ModSciInteriors
ParagonLtBelica
ShooterVideoLearn.uproject.DotSettings.user
